.highlight-container {
  height: 100%;
}

@media only screen and (min-width: 812px) {
  .rightside-content-container {
    width: 100%;
    display: flex;
    padding: 10px 10px 30px 10px;
    border-bottom: 1px solid black;
    position: relative;
    justify-content: space-around;
  }

  .rightside-content-container .slider-container {
    width: 45%;
    height: 300px;
    position: relative;
  }

  .rightside-content-container .cards-container {
    width: 50%;
    height: 300px;
    overflow-y: auto;
  }

  .rightside-content-container .card-container {
    flex-direction: row;
    display: flex;
    height: 25%;
    padding: 2px
  }

  .rightside-content-container .card-container img {
    width: 20%;
    height: 100%;
    margin: 0 5px 0 0;
  }
}