@media only screen and (min-width: 812px) {
  .sidebar-container {
    display: none;
  }
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.sidebar-container {
  position: fixed;
  margin: 0;
  padding: 12px;
  height: 200px;
  width: 100px;
}

.slide-in {
  margin-top: 10px;
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}
  
@keyframes slide-in {
  0% { -webkit-transform: translateX(-150%); }
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  0% { -webkit-transform: translateX(-150%); }
  100% { -webkit-transform: translateX(0%); }
}
  
@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-150%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-150%); }
}