#root {
    /* overflow: hidden; */
}
#root .container {
    background: darkslategrey;
    color: white;
    padding-right: 0;
    padding-left: 0;
}

.nav-item {
    padding: 5px;
}

.nav-item .nav-link {
    padding: 0;
    color: gainsboro;
}

.container a {
    color: black;
}
.hidden {
    display: none;
}
.button {
    background: #2C2635;
    border: none;
    padding: 12px;
}

.container .application-header {
    font-size:1.5rem;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 15px;
    background: #2C2619;
}

.content-container {
    /* transform: translateX(20%) */
    width: 100%;
    height: 220px;
    margin:  0 0 15px 0;
}

.content-container[slider="slide-out"] {
    /* transform: scaleX(1); */
    transform: scale(1)  translateX(0%);
    transition-duration: 0.5s;
}
.content-container[slider="slide-in"] {
    transform: scale(0.85)  translateX(15%) translateY(-10%);
    transition-duration: 0.5s;
    width: 95%;
}